<h1>WELCOME!</h1>
<p>Welcome to StoryTime 1.0.0</p>
<p>Post public or private stories you would like to share with the world.</p>
{{#if user}}
{{else}}
<a href="/auth/google" class="btn red darken-2"><i class="fa fa-google left"></i> Login with Google</a>
{{/if}}